* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-color: #1D1D2B;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  font-family: avenir-next-lt-pro-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;

  color: #E8EAF6;
  overflow: hidden;
}


.game-container {
  position: relative;
  width: 100%;
  max-width: 430px; 
  height: 100vh;

  background-image: 
    url('assets/bg.png');
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  overflow: hidden;
}


.border-frame {
  position: absolute;
  width: 95%;

  top: 7px;
  left: 50%;
  transform: translateX(-50%);

  pointer-events: none;
  
  z-index: 3;
}

        .border-frame img {
          width: 100%;
          height: auto;
          display: block;
        }

.loading-content {
  position: absolute;
  top: 155px;
  pointer-events: none;
}

        .loading-text { 
          font-family: source-han-serif-kr-subset, sans-serif;
          font-size: clamp(18px, calc((20 / 1728) * 100vw), 20px);
          font-weight: 900;
          font-style: normal;
          line-height: 0.8;
        
          color: #E8EAF6;
          
          z-index: 10;
        }

.celestial-chart {
  position: absolute;
  width: 130%;
  bottom: -25%;
  
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  
  pointer-events: none;
  z-index: 3;
}

        .chart-rotate-wrap {
          width: 100%;
          height: 100%;
          transform-origin: center center;
          transform: rotate(0deg); /* 시작 각도 */
          transition: transform 30s cubic-bezier(0.25, 1, 0.5, 1);
        }
        
      
        .chart-rotate-wrap img {
          width: 100%;
          height: auto;
          display: block;
        }
        
        .chart-rotate-wrap.spinning {
          transform: rotate(360deg); 
        }
      
        .celestial-chart.fade-out {
          opacity: 0;
          visibility: hidden; 
        }
    

.brand-header {
  position: absolute;
  width: 40%;
  top: 95px;
  
  left: 50%;
  transform: translateX(-50%);

  pointer-events: none;

  z-index: 10;
}

        .brand-header img {
          width: 100%;
          height: auto;
          display: block;
        }

.logo-star {
  position: absolute;
  width: 35%;
  top: 185px;
  
  left: 50%;
  transform: translateX(-50%);

  pointer-events: none;

  z-index: 10;
}

        .logo-star img {
          width: 100%;
          height: auto;
          display: block;
        }

.scenario-title {
  position: absolute;
  top: 7%;
  pointer-events: none;
            
  color: #E8EAF6;
          }
          
    .universe-num { 
      font-family: avenir-next-lt-pro-condensed, sans-serif;
      font-size: 12px;
      font-weight: 400;
      font-style: normal;
      line-height: 0.8;
          
      margin: 0 0 5% 0;
    }
          
    .scenario-name {
      font-family: source-han-serif-kr-subset, sans-serif;
      font-size: clamp(18px, calc((20 / 1728) * 100vw), 20px);
      font-weight: 900;
      font-style: normal;
      line-height: 0.8;
                    
      z-index: 10;
     }
          
          
.scenario-text-box {
  position: absolute;
  top: 30%;
  width: 100%;
  max-height: 54%;
            
  overflow-y: auto;
  margin: 90px 0 0 0;
  padding: 0 10%;
            
  font-family: avenir-next-lt-pro-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
            
  line-height: 1.8;
  color: #E8EAF6;
              
  text-align: justify;
}
          
         .scenario-text-box p {
           margin-bottom: 45px;
          }
                      
        `.scenario-text-box p:last-child {
          margin-bottom: 0;
         }
                      
          .scenario-text-box strong {
            font-weight: 700;
          }
          
          .scenario-illustration {
            position: absolute;
            width: 80%;
            top: 12%;
            
            left: 50%;
            transform: translateX(-50%);
          
            pointer-events: none;
          
            z-index: 10;
          }
          
                  .scenario-illustration img {
                    width: 100%;
                    height: auto;
                    display: block;
                  }

.screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease, visibility 0.8s ease;
  z-index: 2;
}

/* 활성화된 화면만 보이게 처리 */
.screen.active {
  opacity: 1;
  visibility: visible;
}


button {
  position: absolute;
  width: 70%;
  top: 45%;
  
  background: none;
  border: none;
  cursor: pointer;
  outline: none;

  z-index: 10;
}

.btn-start img, .btn-action img {
  width: 100%;
  display: block;
}

